@import '~bootstrap/scss/bootstrap';

$background-color: #fff;
$font-color: #dfdfdf;
$white: #fff;
$grey: rgb(128, 128, 128);
$teal: rgb(0, 156, 161);
$black: #000;
$green: #406d43;
$purple: #c5c0e6;

.anything {
  margin: 0 auto;
  text-align: center;
}

body {
  background-color: $purple;
}

.box {
  align-items: center;
  border: 1px solid $white;
  color: $font-color;
  display: flex;
  font-size: 50px;
  height: 250px;
  justify-content: center;
  width: 50px;


}

.front-facing {
  text-align: center;
}

.grey {
  background-color: $black;
}

// .teal {
//   background-color: $teal;
// }
h1 {
  text-align: center;
}

h5 {
  text-align: center;
}

button {
  display: block;
  margin: 0 auto;
}

.hidden {
  display: none;
}
